body {
    margin: 0;
    height: 100vh;
    background-image: url('网页背景3.png'); /* 第三页的背景图片 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.people{
    width: 650px;
    bottom: 10px;
    left: 400px;
    position: absolute;
    transition: transform 0.3s ease;
}

.people:hover {
    transform: scale(1.1); /* 鼠标悬停时稍微放大 */
}
